/*!*************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[3].use[1]!./node_modules/next/dist/build/webpack/loaders/next-font-loader/index.js??ruleSet[1].rules[13].oneOf[3].use[2]!./node_modules/next/font/local/target.css?{"path":"app/layout.tsx","import":"","arguments":[{"src":"./fonts/GeistVF.woff","variable":"--font-geist-sans","weight":"100 900"}],"variableName":"geistSans"} ***!
  \*************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
@font-face {
font-family: '__geistSans_1e4310';
src: url(/_next/static/media/4473ecc91f70f139-s.p.woff) format('woff');
font-display: swap;
font-weight: 100 900;
}@font-face {font-family: '__geistSans_Fallback_1e4310';src: local("Arial");ascent-override: 85.83%;descent-override: 20.52%;line-gap-override: 9.33%;size-adjust: 107.19%
}.__className_1e4310 {font-family: '__geistSans_1e4310', '__geistSans_Fallback_1e4310'
}.__variable_1e4310 {--font-geist-sans: '__geistSans_1e4310', '__geistSans_Fallback_1e4310'
}

/*!*****************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[3].use[1]!./node_modules/next/dist/build/webpack/loaders/next-font-loader/index.js??ruleSet[1].rules[13].oneOf[3].use[2]!./node_modules/next/font/local/target.css?{"path":"app/layout.tsx","import":"","arguments":[{"src":"./fonts/GeistMonoVF.woff","variable":"--font-geist-mono","weight":"100 900"}],"variableName":"geistMono"} ***!
  \*****************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
@font-face {
font-family: '__geistMono_c3aa02';
src: url(/_next/static/media/463dafcda517f24f-s.p.woff) format('woff');
font-display: swap;
font-weight: 100 900;
}@font-face {font-family: '__geistMono_Fallback_c3aa02';src: local("Arial");ascent-override: 69.97%;descent-override: 16.73%;line-gap-override: 7.61%;size-adjust: 131.49%
}.__className_c3aa02 {font-family: '__geistMono_c3aa02', '__geistMono_Fallback_c3aa02'
}.__variable_c3aa02 {--font-geist-mono: '__geistMono_c3aa02', '__geistMono_Fallback_c3aa02'
}

/*!*************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[12].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[12].use[3]!./app/globals.css ***!
  \*************************************************************************************************************************************************************************************************************************************************************/
*, ::before, ::after {
  --tw-border-spacing-x: 0;
  --tw-border-spacing-y: 0;
  --tw-translate-x: 0;
  --tw-translate-y: 0;
  --tw-rotate: 0;
  --tw-skew-x: 0;
  --tw-skew-y: 0;
  --tw-scale-x: 1;
  --tw-scale-y: 1;
  --tw-pan-x:  ;
  --tw-pan-y:  ;
  --tw-pinch-zoom:  ;
  --tw-scroll-snap-strictness: proximity;
  --tw-gradient-from-position:  ;
  --tw-gradient-via-position:  ;
  --tw-gradient-to-position:  ;
  --tw-ordinal:  ;
  --tw-slashed-zero:  ;
  --tw-numeric-figure:  ;
  --tw-numeric-spacing:  ;
  --tw-numeric-fraction:  ;
  --tw-ring-inset:  ;
  --tw-ring-offset-width: 0px;
  --tw-ring-offset-color: #fff;
  --tw-ring-color: rgb(59 130 246 / 0.5);
  --tw-ring-offset-shadow: 0 0 #0000;
  --tw-ring-shadow: 0 0 #0000;
  --tw-shadow: 0 0 #0000;
  --tw-shadow-colored: 0 0 #0000;
  --tw-blur:  ;
  --tw-brightness:  ;
  --tw-contrast:  ;
  --tw-grayscale:  ;
  --tw-hue-rotate:  ;
  --tw-invert:  ;
  --tw-saturate:  ;
  --tw-sepia:  ;
  --tw-drop-shadow:  ;
  --tw-backdrop-blur:  ;
  --tw-backdrop-brightness:  ;
  --tw-backdrop-contrast:  ;
  --tw-backdrop-grayscale:  ;
  --tw-backdrop-hue-rotate:  ;
  --tw-backdrop-invert:  ;
  --tw-backdrop-opacity:  ;
  --tw-backdrop-saturate:  ;
  --tw-backdrop-sepia:  ;
  --tw-contain-size:  ;
  --tw-contain-layout:  ;
  --tw-contain-paint:  ;
  --tw-contain-style:  ;
}

::backdrop {
  --tw-border-spacing-x: 0;
  --tw-border-spacing-y: 0;
  --tw-translate-x: 0;
  --tw-translate-y: 0;
  --tw-rotate: 0;
  --tw-skew-x: 0;
  --tw-skew-y: 0;
  --tw-scale-x: 1;
  --tw-scale-y: 1;
  --tw-pan-x:  ;
  --tw-pan-y:  ;
  --tw-pinch-zoom:  ;
  --tw-scroll-snap-strictness: proximity;
  --tw-gradient-from-position:  ;
  --tw-gradient-via-position:  ;
  --tw-gradient-to-position:  ;
  --tw-ordinal:  ;
  --tw-slashed-zero:  ;
  --tw-numeric-figure:  ;
  --tw-numeric-spacing:  ;
  --tw-numeric-fraction:  ;
  --tw-ring-inset:  ;
  --tw-ring-offset-width: 0px;
  --tw-ring-offset-color: #fff;
  --tw-ring-color: rgb(59 130 246 / 0.5);
  --tw-ring-offset-shadow: 0 0 #0000;
  --tw-ring-shadow: 0 0 #0000;
  --tw-shadow: 0 0 #0000;
  --tw-shadow-colored: 0 0 #0000;
  --tw-blur:  ;
  --tw-brightness:  ;
  --tw-contrast:  ;
  --tw-grayscale:  ;
  --tw-hue-rotate:  ;
  --tw-invert:  ;
  --tw-saturate:  ;
  --tw-sepia:  ;
  --tw-drop-shadow:  ;
  --tw-backdrop-blur:  ;
  --tw-backdrop-brightness:  ;
  --tw-backdrop-contrast:  ;
  --tw-backdrop-grayscale:  ;
  --tw-backdrop-hue-rotate:  ;
  --tw-backdrop-invert:  ;
  --tw-backdrop-opacity:  ;
  --tw-backdrop-saturate:  ;
  --tw-backdrop-sepia:  ;
  --tw-contain-size:  ;
  --tw-contain-layout:  ;
  --tw-contain-paint:  ;
  --tw-contain-style:  ;
}/*
! tailwindcss v3.4.12 | MIT License | https://tailwindcss.com
*//*
1. Prevent padding and border from affecting element width. (https://github.com/mozdevs/cssremedy/issues/4)
2. Allow adding a border to an element by just adding a border-width. (https://github.com/tailwindcss/tailwindcss/pull/116)
*/

*,
::before,
::after {
  box-sizing: border-box; /* 1 */
  border-width: 0; /* 2 */
  border-style: solid; /* 2 */
  border-color: #e5e7eb; /* 2 */
}

::before,
::after {
  --tw-content: '';
}

/*
1. Use a consistent sensible line-height in all browsers.
2. Prevent adjustments of font size after orientation changes in iOS.
3. Use a more readable tab size.
4. Use the user's configured `sans` font-family by default.
5. Use the user's configured `sans` font-feature-settings by default.
6. Use the user's configured `sans` font-variation-settings by default.
7. Disable tap highlights on iOS
*/

html,
:host {
  line-height: 1.5; /* 1 */
  -webkit-text-size-adjust: 100%; /* 2 */
  -moz-tab-size: 4; /* 3 */
  -o-tab-size: 4;
     tab-size: 4; /* 3 */
  font-family: ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji"; /* 4 */
  font-feature-settings: normal; /* 5 */
  font-variation-settings: normal; /* 6 */
  -webkit-tap-highlight-color: transparent; /* 7 */
}

/*
1. Remove the margin in all browsers.
2. Inherit line-height from `html` so users can set them as a class directly on the `html` element.
*/

body {
  margin: 0; /* 1 */
  line-height: inherit; /* 2 */
}

/*
1. Add the correct height in Firefox.
2. Correct the inheritance of border color in Firefox. (https://bugzilla.mozilla.org/show_bug.cgi?id=190655)
3. Ensure horizontal rules are visible by default.
*/

hr {
  height: 0; /* 1 */
  color: inherit; /* 2 */
  border-top-width: 1px; /* 3 */
}

/*
Add the correct text decoration in Chrome, Edge, and Safari.
*/

abbr:where([title]) {
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

/*
Remove the default font size and weight for headings.
*/

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}

/*
Reset links to optimize for opt-in styling instead of opt-out.
*/

a {
  color: inherit;
  text-decoration: inherit;
}

/*
Add the correct font weight in Edge and Safari.
*/

b,
strong {
  font-weight: bolder;
}

/*
1. Use the user's configured `mono` font-family by default.
2. Use the user's configured `mono` font-feature-settings by default.
3. Use the user's configured `mono` font-variation-settings by default.
4. Correct the odd `em` font sizing in all browsers.
*/

code,
kbd,
samp,
pre {
  font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace; /* 1 */
  font-feature-settings: normal; /* 2 */
  font-variation-settings: normal; /* 3 */
  font-size: 1em; /* 4 */
}

/*
Add the correct font size in all browsers.
*/

small {
  font-size: 80%;
}

/*
Prevent `sub` and `sup` elements from affecting the line height in all browsers.
*/

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/*
1. Remove text indentation from table contents in Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=999088, https://bugs.webkit.org/show_bug.cgi?id=201297)
2. Correct table border color inheritance in all Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=935729, https://bugs.webkit.org/show_bug.cgi?id=195016)
3. Remove gaps between table borders by default.
*/

table {
  text-indent: 0; /* 1 */
  border-color: inherit; /* 2 */
  border-collapse: collapse; /* 3 */
}

/*
1. Change the font styles in all browsers.
2. Remove the margin in Firefox and Safari.
3. Remove default padding in all browsers.
*/

button,
input,
optgroup,
select,
textarea {
  font-family: inherit; /* 1 */
  font-feature-settings: inherit; /* 1 */
  font-variation-settings: inherit; /* 1 */
  font-size: 100%; /* 1 */
  font-weight: inherit; /* 1 */
  line-height: inherit; /* 1 */
  letter-spacing: inherit; /* 1 */
  color: inherit; /* 1 */
  margin: 0; /* 2 */
  padding: 0; /* 3 */
}

/*
Remove the inheritance of text transform in Edge and Firefox.
*/

button,
select {
  text-transform: none;
}

/*
1. Correct the inability to style clickable types in iOS and Safari.
2. Remove default button styles.
*/

button,
input:where([type='button']),
input:where([type='reset']),
input:where([type='submit']) {
  -webkit-appearance: button; /* 1 */
  background-color: transparent; /* 2 */
  background-image: none; /* 2 */
}

/*
Use the modern Firefox focus style for all focusable elements.
*/

:-moz-focusring {
  outline: auto;
}

/*
Remove the additional `:invalid` styles in Firefox. (https://github.com/mozilla/gecko-dev/blob/2f9eacd9d3d995c937b4251a5557d95d494c9be1/layout/style/res/forms.css#L728-L737)
*/

:-moz-ui-invalid {
  box-shadow: none;
}

/*
Add the correct vertical alignment in Chrome and Firefox.
*/

progress {
  vertical-align: baseline;
}

/*
Correct the cursor style of increment and decrement buttons in Safari.
*/

::-webkit-inner-spin-button,
::-webkit-outer-spin-button {
  height: auto;
}

/*
1. Correct the odd appearance in Chrome and Safari.
2. Correct the outline style in Safari.
*/

[type='search'] {
  -webkit-appearance: textfield; /* 1 */
  outline-offset: -2px; /* 2 */
}

/*
Remove the inner padding in Chrome and Safari on macOS.
*/

::-webkit-search-decoration {
  -webkit-appearance: none;
}

/*
1. Correct the inability to style clickable types in iOS and Safari.
2. Change font properties to `inherit` in Safari.
*/

::-webkit-file-upload-button {
  -webkit-appearance: button; /* 1 */
  font: inherit; /* 2 */
}

/*
Add the correct display in Chrome and Safari.
*/

summary {
  display: list-item;
}

/*
Removes the default spacing and border for appropriate elements.
*/

blockquote,
dl,
dd,
h1,
h2,
h3,
h4,
h5,
h6,
hr,
figure,
p,
pre {
  margin: 0;
}

fieldset {
  margin: 0;
  padding: 0;
}

legend {
  padding: 0;
}

ol,
ul,
menu {
  list-style: none;
  margin: 0;
  padding: 0;
}

/*
Reset default styling for dialogs.
*/
dialog {
  padding: 0;
}

/*
Prevent resizing textareas horizontally by default.
*/

textarea {
  resize: vertical;
}

/*
1. Reset the default placeholder opacity in Firefox. (https://github.com/tailwindlabs/tailwindcss/issues/3300)
2. Set the default placeholder color to the user's configured gray 400 color.
*/

input::-moz-placeholder, textarea::-moz-placeholder {
  opacity: 1; /* 1 */
  color: #9ca3af; /* 2 */
}

input::placeholder,
textarea::placeholder {
  opacity: 1; /* 1 */
  color: #9ca3af; /* 2 */
}

/*
Set the default cursor for buttons.
*/

button,
[role="button"] {
  cursor: pointer;
}

/*
Make sure disabled buttons don't get the pointer cursor.
*/
:disabled {
  cursor: default;
}

/*
1. Make replaced elements `display: block` by default. (https://github.com/mozdevs/cssremedy/issues/14)
2. Add `vertical-align: middle` to align replaced elements more sensibly by default. (https://github.com/jensimmons/cssremedy/issues/14#issuecomment-634934210)
   This can trigger a poorly considered lint error in some tools but is included by design.
*/

img,
svg,
video,
canvas,
audio,
iframe,
embed,
object {
  display: block; /* 1 */
  vertical-align: middle; /* 2 */
}

/*
Constrain images and videos to the parent width and preserve their intrinsic aspect ratio. (https://github.com/mozdevs/cssremedy/issues/14)
*/

img,
video {
  max-width: 100%;
  height: auto;
}

/* Make elements with the HTML hidden attribute stay hidden by default */
[hidden] {
  display: none;
}
.visible {
  visibility: visible;
}
.fixed {
  position: fixed;
}
.absolute {
  position: absolute;
}
.relative {
  position: relative;
}
.inset-0 {
  inset: 0px;
}
.bottom-\[20\%\] {
  bottom: 20%;
}
.left-0 {
  left: 0px;
}
.left-1\/2 {
  left: 50%;
}
.left-3 {
  left: 0.75rem;
}
.left-\[1\.5rem\] {
  left: 1.5rem;
}
.right-3 {
  right: 0.75rem;
}
.right-\[1\.5rem\] {
  right: 1.5rem;
}
.top-0 {
  top: 0px;
}
.top-3 {
  top: 0.75rem;
}
.top-\[20\%\] {
  top: 20%;
}
.z-10 {
  z-index: 10;
}
.z-50 {
  z-index: 50;
}
.mb-1 {
  margin-bottom: 0.25rem;
}
.mb-2 {
  margin-bottom: 0.5rem;
}
.mb-4 {
  margin-bottom: 1rem;
}
.mb-\[0\.5rem\] {
  margin-bottom: 0.5rem;
}
.ml-12 {
  margin-left: 3rem;
}
.mr-12 {
  margin-right: 3rem;
}
.mt-16 {
  margin-top: 4rem;
}
.mt-2 {
  margin-top: 0.5rem;
}
.inline-block {
  display: inline-block;
}
.flex {
  display: flex;
}
.grid {
  display: grid;
}
.hidden {
  display: none;
}
.h-\[2\.3rem\] {
  height: 2.3rem;
}
.h-\[44\.18px\] {
  height: 44.18px;
}
.h-\[45px\] {
  height: 45px;
}
.h-full {
  height: 100%;
}
.h-screen {
  height: 100vh;
}
.h-1 {
  height: 0.25rem;
}
.h-\[1px\] {
  height: 1px;
}
.h-\[2px\] {
  height: 2px;
}
.h-\[1\.5px\] {
  height: 1.5px;
}
.max-h-full {
  max-height: 100%;
}
.min-h-\[42rem\] {
  min-height: 42rem;
}
.w-full {
  width: 100%;
}
.min-w-\[60px\] {
  min-width: 60px;
}
.-translate-x-1\/2 {
  --tw-translate-x: -50%;
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}
.transform {
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}
.cursor-pointer {
  cursor: pointer;
}
.flex-col {
  flex-direction: column;
}
.items-center {
  align-items: center;
}
.justify-center {
  justify-content: center;
}
.justify-between {
  justify-content: space-between;
}
.space-x-1\.5 > :not([hidden]) ~ :not([hidden]) {
  --tw-space-x-reverse: 0;
  margin-right: calc(0.375rem * var(--tw-space-x-reverse));
  margin-left: calc(0.375rem * calc(1 - var(--tw-space-x-reverse)));
}
.overflow-hidden {
  overflow: hidden;
}
.overflow-y-auto {
  overflow-y: auto;
}
.truncate {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.rounded-lg {
  border-radius: 0.5rem;
}
.rounded-md {
  border-radius: 0.375rem;
}
.border {
  border-width: 1px;
}
.bg-black {
  --tw-bg-opacity: 1;
  background-color: rgb(0 0 0 / var(--tw-bg-opacity));
}
.bg-blue-100 {
  --tw-bg-opacity: 1;
  background-color: rgb(219 234 254 / var(--tw-bg-opacity));
}
.bg-transparent {
  background-color: transparent;
}
.bg-white {
  --tw-bg-opacity: 1;
  background-color: rgb(255 255 255 / var(--tw-bg-opacity));
}
.bg-main-color {
  --tw-bg-opacity: 1;
  background-color: rgb(8 60 92 / var(--tw-bg-opacity));
}
.bg-opacity-75 {
  --tw-bg-opacity: 0.75;
}
.bg-opacity-80 {
  --tw-bg-opacity: 0.8;
}
.object-cover {
  -o-object-fit: cover;
     object-fit: cover;
}
.p-2 {
  padding: 0.5rem;
}
.p-4 {
  padding: 1rem;
}
.px-3 {
  padding-left: 0.75rem;
  padding-right: 0.75rem;
}
.py-2 {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}
.py-8 {
  padding-top: 2rem;
  padding-bottom: 2rem;
}
.py-4 {
  padding-top: 1rem;
  padding-bottom: 1rem;
}
.py-6 {
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
}
.py-0 {
  padding-top: 0px;
  padding-bottom: 0px;
}
.pb-1 {
  padding-bottom: 0.25rem;
}
.pt-8 {
  padding-top: 2rem;
}
.text-left {
  text-align: left;
}
.text-right {
  text-align: right;
}
.font-exo {
  font-family: Exo, sans-serif;
}
.font-share-tech {
  font-family: Share Tech Mono, monospace;
}
.font-titillium {
  font-family: Titillium Web, sans-serif;
}
.text-3xl {
  font-size: 1.875rem;
  line-height: 2.25rem;
}
.text-5xl {
  font-size: 3rem;
  line-height: 1;
}
.text-sm {
  font-size: 0.875rem;
  line-height: 1.25rem;
}
.text-xl {
  font-size: 1.25rem;
  line-height: 1.75rem;
}
.font-bold {
  font-weight: 700;
}
.font-semibold {
  font-weight: 600;
}
.text-main-color {
  --tw-text-opacity: 1;
  color: rgb(8 60 92 / var(--tw-text-opacity));
}
.text-white {
  --tw-text-opacity: 1;
  color: rgb(255 255 255 / var(--tw-text-opacity));
}
.text-black {
  --tw-text-opacity: 1;
  color: rgb(0 0 0 / var(--tw-text-opacity));
}
.antialiased {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.outline {
  outline-style: solid;
}
.outline-1 {
  outline-width: 1px;
}
.outline-accent-color-a {
  outline-color: rgb(255, 148, 109);
}
.outline-accent-color-b {
  outline-color: rgb(52, 212, 212);
}
.outline-accent-color-c {
  outline-color: rgb(219, 190, 255);
}
.outline-white {
  outline-color: rgb(255, 255, 255);
}
.filter {
  filter: var(--tw-blur) var(--tw-brightness) var(--tw-contrast) var(--tw-grayscale) var(--tw-hue-rotate) var(--tw-invert) var(--tw-saturate) var(--tw-sepia) var(--tw-drop-shadow);
}
.transition {
  transition-property: color, background-color, border-color, text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter, -webkit-backdrop-filter;
  transition-property: color, background-color, border-color, text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter, backdrop-filter;
  transition-property: color, background-color, border-color, text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter, backdrop-filter, -webkit-backdrop-filter;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;
}
.transition-all {
  transition-property: all;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;
}
.duration-200 {
  transition-duration: 200ms;
}
.ease-in-out {
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

@import url("https://fonts.googleapis.com/css2?family=Share+Tech+Mono&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Titillium+Web:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Exo:wght@400;500;600;700&display=swap");

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --dark-grey: #242424;
  --medium-grey: #636363;
  --light-grey: #f0f0f0;
  --ash: #f4f4f4;
  --primary-color: #2b72fb;
  --white: white;
  --border: 1px solid var(--light-grey);
  --shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px,
    rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;

  --accent-color_a: #ff946d;
  --accent-color_b: #34d4d4;
  --accent-color_c: #dbbeff;

  --main-color: #083c5c;

  --gradient-color_a: #caa8f5;
  --gradient-color_b: #cc6ce5;
  --gradient-color_c: #4f45a5;
}

html,
body {
  background-color: var(--white);
  color: var(--dark-grey);
  overflow-x: hidden;
  margin: 0;
  font-family: "Exo", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.icon-bar {
  position: fixed;
  z-index: 3;
  padding-left: 0rem;
  top: 50%;
  transform: translateY(-50%);
}

.directional-arrows {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  font-size: 2rem;
  color: rgba(255, 255, 255, 0.45);
  z-index: 4;

  transition: all 0.2s ease;
}

.directional-arrows:hover {
  color: var(--accent-color_b);
}

.icon-bar a {
  display: block;
  text-align: center;
  padding: 0.65rem;
  margin-bottom: 0.2rem;
  transition: all 0.2s ease;
  font-size: 1.6rem;
}

.icon-bar a:hover {
  background-color: var(--dark-grey);
  color: var(--light-grey);
}

.facebook {
  color: rgb(255, 255, 255);
  background-color: #4b6ea9;
  transition: color 0.2s, outline-color 0.2s;
  border-radius: 5px;
}

.instagram {
  color: rgb(255, 255, 255);
  background-color: #942192;
  transition: color 0.2s, outline-color 0.2s;
  border-radius: 5px;
}

.twitter {
  color: rgb(255, 255, 255);
  background-color: #65bbf2;
  transition: color 0.2s, outline-color 0.2s;
  border-radius: 5px;
}

.email {
  color: rgb(255, 255, 255);
  background-color: #e66249;
  transition: color 0.2s, outline-color 0.2s;
  border-radius: 5px;
}

.kclsu {
  color: rgb(255, 255, 255);
  background-color: #4b6ea9;
  transition: color 0.2s, outline-color 0.2s;
  border-radius: 5px;
}

.huzzle {
  color: rgb(255, 255, 255);
  background-color: #64387b;
  transition: color 0.2s, outline-color 0.2s;
  border-radius: 5px;
}

.newsletter {
  color: rgb(255, 255, 255);
  background-color: #ffe320;
  transition: color 0.2s, outline-color 0.2s;
  border-radius: 5px;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 100;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background-color: #ddd;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown:hover .dropbtn {
  background-color: #3e8e41;
}

.fancy {
  position: relative;
  color: transparent;
  -webkit-text-stroke: 0.7px rgb(255, 255, 255);
  text-stroke: 0.7px rgb(255, 255, 255);
  font-weight: bold;
  overflow-wrap: break-word;
  word-wrap: break-word;

  &:after {
    --deco-height: 0.375em;
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    bottom: calc(var(--deco-height) * -0.8);
    height: var(--deco-height);
    background-image: url("data:image/svg+xml,%3Csvg width='100' height='64' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg clip-path='url(%23a)'%3E%3Cpath d='M-17 30.5C-1 22 72-4 54 13 37.9 28.2-2.5 57.5 16 55.5s72-29 104-40' stroke='%2334D4D4' stroke-width='10'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='a'%3E%3Cpath fill='%23fff' d='M0 0h100v64H0z'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E%0A");
    background-size: auto 100%;
    background-repeat: round;
    background-position: 0em;
  }
}

.accordion {
  background-color: rgba(36, 36, 36, 0.1);
  color: #444;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
  transition: 0.4s;
}

:root {
  --dark-grey: rgb(36, 36, 36);
  --medium-grey: rgb(99, 99, 99);
  --light-grey: rgb(240, 240, 240);
  --ash: rgb(244, 244, 244);
  --primary-color: rgb(43, 114, 251);
  --white: rgb(255, 255, 255);
  --border: 1px solid var(--light-grey);
  --shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px,
    rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;

  --accent-color_a: rgb(255, 148, 109);
  --accent-color_b: rgb(52, 212, 212);
  --accent-color_c: rgb(219, 190, 255);

  --main-color: rgb(8, 60, 92);

  --gradient-color_a: rgb(202, 168, 245);
  --gradient-color_b: rgb(204, 108, 229);
  --gradient-color_c: rgb(79, 69, 165);
}

.active,
.accordion:hover {
  background-color: rgba(36, 36, 36, 0.3);
}

.panel {
  padding: 0 18px;
  display: none;
  background-color: white;
  overflow: hidden;
}

.row {
  display: flex;
}

.right {
  width: 25%;
}

* {
  box-sizing: border-box;
}

/* Slides panel */

/* Parent container */
.slides-panel_parent {
  display: block;
  position: relative;
  text-align: center;
  color: white;
  height: 100vh;
  min-height: 48rem;
  z-index: 0;
}

.slides-panel {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 1fr;
  height: 100%;
  width: 100%;
  position: relative;
}

.slides-panel-img {
  grid-column: 1 / -1;
  grid-row: 1 / -1;
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  display: block;
  z-index: 1;
}

.slides-panel_left,
.slides-panel_right {
  position: absolute;
  z-index: 3;
  color: white;
  display: flex;
  flex-direction: column;
  text-align: left;
  /* or center as needed */
}

.slides-panel_left {
  top: 20%;
  left: 15%;
  right: 15%;
  align-items: flex-start;
  /* Align content to the start of the flex container */
}

.slides-panel_right {
  bottom: 20%;
  left: 15%;
  right: 15%;
  align-items: flex-end;
  /* Align content to the end of the flex container */
}

.slides-panel_parent h1,
h2,
h3 {
  color: white;
}

.slides-panel_parent button {
  font-family: "Titillium Web", sans-serif;
  font-weight: bolder;
  font-size: 1.2rem;

  transition: color 0.2s, outline-color 0.2s;
  padding: 8px 9px;
  margin-top: 1.75rem;

  transition: color 0.2s, outline-color 0.2s, background-color 0.2s;
  border-radius: 5px;
  padding: 8px 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  outline: 1px solid transparent;
  outline-color: var(--light-grey);
  color: #e2e2e2;
}

.slides-panel_parent button:hover {
  background-color: var(--light-grey);
  outline-color: var(--light-grey);
  color: var(--main-color);
}

/* Caption text */
.text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  width: 100%;
  font-size: 2.3rem;
  font-family: "Exo", sans-serif;
  letter-spacing: 0rem;
  font-weight: bold;
}

/* Content container */
.content-generic {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}

/* Slides for any generic content */
.slides-generic {
  position: relative;
  display: flex;
  flex-direction: column;
  /* Stacks children vertically */
  background-color: var(--light-grey);
  padding-top: 2rem;
  padding-bottom: 2rem;
  padding-left: 1rem;
  padding-right: 1rem;
}

.slides-generic h1 {
  font-family: "Titillium Web", sans-serif;
  text-align: left;
  font-size: 2.75rem;
  color: white;
  font-weight: bolder;
  display: inline-block;
  letter-spacing: -0.05rem;
  line-height: 1.2;
}

.slides-generic h2 {
  font-family: "Titillium Web", sans-serif;
  text-align: left;
  font-size: 2rem;
  color: white;
  font-weight: lighter;
  display: inline-block;
  /* letter-spacing: -0.05rem; */
}

.slides-generic h3 {
  font-family: "Titillium Web", sans-serif;
  font-weight: bold;
  text-align: left;
  font-size: 1.8rem;
  letter-spacing: 0.075rem;
}

/* Generic content container for light themed */

.slides-generic_light {
  position: relative;
  display: flex;
  flex-direction: column;
  background-color: var(--light-grey);
  padding-top: 2rem;
  padding-bottom: 2rem;
  padding-left: 1rem;
  padding-right: 1rem;
}

.slides-generic_light h1 {
  font-family: "Titillium Web", sans-serif;
  text-align: left;
  font-size: 2.75rem;
  font-weight: bolder;
  color: var(--dark-grey);
  -webkit-background-clip: text;
          background-clip: text;
  text-fill-color: transparent;
  display: inline-block;
  letter-spacing: -0.05rem;
}

.slides-generic_light h2 {
  font-family: "Titillium Web", sans-serif;
  text-align: left;
  font-size: 2rem;
  color: var(--main-color);
  font-weight: bold;
  display: inline-block;
}

.slides-generic_light h3 {
  font-family: "Titillium Web", sans-serif;
  font-weight: bold;
  text-align: left;
  font-size: 2rem;
  letter-spacing: 0.075rem;

  color: var(--dark-grey);
}

.slides-generic_light h4 {
  font-family: "Exo", sans-serif;
  font-weight: normal;
  text-align: left;
  font-size: 0.8rem;
  letter-spacing: 0.075rem;

  color: var(--dark-grey);
}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 0.2s;
}

@keyframes fade {
  from {
    opacity: 0.1;
  }

  to {
    opacity: 1;
  }
}

/* Caption text */
.text2 {
  background-image: url(/_next/static/media/background1.8f125fce.png);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  height: 100%;
}

.classic-button {
  font-family: "Titillium Web", sans-serif;
  font-weight: bolder;
  font-size: 1.2rem;

  transition: color 0.2s, outline-color 0.2s;
  padding: 8px 9px;

  transition: color 0.2s, outline-color 0.2s, background-color 0.2s;
  border-radius: 5px;
  padding: 8px 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  outline: 1px solid transparent;
  outline-color: var(--light-grey);
  color: #e2e2e2;
}

.classic-button:hover {
  background-color: var(--light-grey);
  outline-color: var(--light-grey);
  color: var(--main-color);
}

.btn {
  display: block;
  background-color: var(--primary-color);
  color: var(--white);
  text-align: center;
  padding: 0.6rem 1.4rem;
  font-size: 1rem;
  font-weight: 500;
  border-radius: 5px;
}

.icon {
  padding: 0.5rem;
  background-color: transparent;
  border-radius: 10px;
}

.logo img {
  display: block;
}

.logo:hover {
  filter: brightness(0.8);
}

.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  -moz-column-gap: 2rem;
       column-gap: 2rem;
  height: 90px;
  padding: 1.2rem 3rem;
}

.static_nav-menu {
  position: absolute;
  /* or another position property if necessary */
  top: 0;
  left: 0;
  width: 100%;
  background-color: transparent;
  z-index: 1000;

  visibility: visible;
  opacity: 1;
}

.static_nav-menu_light {
  position: absolute;
  /* or another position property if necessary */
  top: 0;
  left: 0;
  width: 100%;
  height: 4.75rem;
  background-color: var(--main-color);
  z-index: 1000;

  visibility: visible;
  opacity: 1;
}

.nav-menu {
  position: fixed;
  /* or another position property if necessary */
  top: 0;
  left: 0;
  width: 100%;
  height: 4.75rem;
  background-color: #0d3b5e;
  z-index: 1000;

  visibility: visible;
  opacity: 1;
  transition: opacity 0.2s ease, visibility 0.2s ease;
}

.nav-menu.hidden {
  opacity: 0;
  visibility: hidden;
}
.hidden {
  display: none;
}

#fs-nav-menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transform: translateX(-125%);
  transition: transform 0.2s ease-in-out;
  z-index: 999;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Show menu (slide in from left) */
#fs-nav-menu.show {
  transform: translateX(0);
}

#close-button {
  position: absolute;
  top: 2rem;
  right: 50%;
  background: none;
  border: none;

  color: var(--light-grey);
  padding: 0.1rem;
  font-size: 2rem;

  cursor: pointer;
}

.nav-menu.visible {
  opacity: 1;
  visibility: visible;
  transform: translateY(0);
  /* Slide into view */
}

.menu-bar .dropdown-link-title {
  font-weight: 600;
}

.menu-bar .nav-link {
  font-family: "Titillium Web", sans-serif;
  font-weight: normal;
  color: var(--light-grey);

  font-size: 0.9rem;
  letter-spacing: 0rem;
  min-width: 60px;
}

.dropdown {
  margin-top: 0.8rem;
  display: flex;
  flex-direction: column;
  width: 20rem;
  background-color: white;
  border-radius: 5px;
  position: absolute;
  z-index: 1;
  /* visibility: hidden; */
  opacity: 0;
  transform: scale(0.97) translateX(-5px);
  transition: 0.1s ease-in-out;
  box-shadow: 0 4px 4px 2px rgba(0, 0, 0, 0.23);

  padding: 0;
}

/* Aligns all content to the left */
.dropdown-generic {
  padding: 0;
  list-style: none;
}

.dropdown-link {
  display: flex;
  align-items: start;
  text-align: left;
  text-decoration: none;
}

.dropdown-link img {
  align-self: center;
}

.dropdown-text-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.dropdown-generic h2 {
  color: var(--dark-grey);
  font-family: "Exo", sans-serif;
  font-weight: bold;
  font-size: 1rem;
}

.dropdown.active {
  visibility: visible;
  opacity: 1;
  transform: scale(1) translateX(5px);
}

.dropdown ul {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  padding: 1.2rem;
  font-size: 0.95rem;
}

.dropdown-btn {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 0.15rem;
}

.dropdown-link {
  display: flex;
  gap: 0.5rem;
  padding: 0.5rem 0;
  border-radius: 7px;
  transition: 0.1s ease-in-out;
}

.dropdown-link p {
  font-size: 0.8rem;
  color: var(--medium-grey);
}

.right-container {
  display: flex;
  align-items: center;
}

.right-container .search {
  position: relative;
}

#hamburger {
  display: none;
  padding: 0.1rem;
  font-size: 2rem;
}

#hamburger i {
  color: var(--light-grey);
}

#hamburger:hover i {
  color: var(--accent-color_a);
}

.button {
  display: inline-block;
  font-weight: normal;
  font-size: 1.2rem;
  transition: color 0.2s, outline-color 0.2s, background-color 0.2s;
  border-radius: 5px;
  padding: 8px 12px;

  outline: 1px solid transparent;
  outline-color: var(--accent-color_a);
  background-color: var(--accent-color_a);
  color: var(--dark-grey);
}

.button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.button span:after {
  content: "\00bb";
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.button:hover span {
  padding-right: 25px;
}

.button:hover span:after {
  opacity: 1;
  right: 0;
}

.parallax {
  position: relative;
  /* Ensure that overlay positions correctly within the parallax container */
  /* background-image: url('img_parallax.jpg'); */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding-left: 1rem;
  padding-right: 1rem;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.75);
  z-index: 1;
}

/* Staff container */

.container-staff {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  grid-gap: 1rem;
  width: 100%;
  margin-top: 1rem;
}

/* Stuff */

.responsive-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 1rem;
  width: 100%;
}

.responsive-grid img {
  width: 100%;
  border-radius: 5px;
}

/* Card design */

.card-staff {
  display: flex;
  height: 100%;
  max-width: 100%;
  border: 1px solid rgba(255, 255, 255, 0.1);
  background-color: #242424;
  background: linear-gradient(
    0deg,
    rgba(255, 148, 109, 0.1) 0%,
    rgba(219, 190, 255, 0.2) 100%
  );
  box-shadow: 0 4px 4px 2px rgba(0, 0, 0, 0.33);
  border-radius: 5px;
  overflow: hidden;
  transition: 0.5s all;
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
}

.card-staff h2 {
  padding-top: 0.4rem;
  font-family: "Exo", sans-serif;
  color: hsl(0, 0, 100%);
  font-size: 1.3em;
  font-weight: bolder;
}

.card-staff h3 {
  font-family: "Exo", sans-serif;
  color: hsl(0, 0%, 65%);
  font-weight: normal;
  text-align: left;
  font-size: 0.8rem;
  letter-spacing: 0.05rem;
}

.card-staff p {
  font-family: "Titillium Web", sans-serif;
  color: hsl(0, 0%, 85%);
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 3; /* Number of lines to show */
  -webkit-box-orient: vertical;
}

.card-staff hr {
  width: 100%;
  border: none;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

.card-staff ins {
  text-decoration: none;
}

.card-staff .card-content {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 1rem;
  overflow: hidden; /* Ensures content doesn't overflow */
  text-overflow: ellipsis;
}

.card-staff img {
  border-radius: 0.5rem;
  max-width: 100%;
  height: 200px;
  -o-object-fit: cover;
     object-fit: cover;
}

.card-staff .description {
  margin: 0.5rem 0;
  color: rgba(240, 240, 240, 0.7);
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2; /* Number of lines to show */
  -webkit-box-orient: vertical;
}

.card-staff .creator {
  display: flex;
  align-items: center;
  margin-top: 0.2rem;
  margin-bottom: -0.3rem;
}

.card-staff .creator .wrapper {
  display: flex;
  align-items: center;
  border: 1px solid #ffffff22;
  padding: 0.3rem;
  margin: 0;
  margin-right: 0.5rem;
  border-radius: 100%;
  box-shadow: inset 0 0 0 4px #000000aa;
}

.card-staff .creator .wrapper img {
  border-radius: 100%;
  width: 100%;
  height: 40%;
  -o-object-fit: cover;
     object-fit: cover;
  margin: 0;
}

.card-staff::before {
  position: fixed;
  content: "";
  box-shadow: 0 0 100px 40px #ffffff08;
  top: -10%;
  left: -100%;
  transform: rotate(-45deg);
  height: 60rem;
  transition: 0.7s all;
}

.card-staff:hover {
  border: 1px solid #ffffff44;
  box-shadow: 0 4px 4px 2px rgba(0, 0, 0, 0.43);
  transform: scale(1.0275);
  filter: brightness(1.3);
}

.card-staff:hover::before {
  filter: brightness(0.5);
  top: -100%;
  left: 200%;
}

/* Card staff lite */
.card-staff_lite {
  display: flex;
  height: 100%;
  max-width: 100%;
  border: 1px solid rgba(255, 255, 255, 0.1);
  background-color: #ffffff0c;
  box-shadow: 0 4px 4px 2px rgba(0, 0, 0, 0.33);
  border-radius: 5px;
  overflow: hidden;
  transition: 0.5s all;
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
}

.card-staff_lite h2 {
  padding-top: 0.4rem;
  font-family: "Exo", sans-serif;
  color: hsl(0, 0, 100%);
  font-size: 1.3em;
  font-weight: bolder;
}

.card-staff_lite h3 {
  font-family: "Exo", sans-serif;
  color: hsl(0, 0%, 65%);
  font-weight: normal;
  text-align: left;
  font-size: 0.8rem;
  letter-spacing: 0.05rem;
}

.card-staff_lite p {
  font-family: "Titillium Web", sans-serif;
  color: hsl(0, 0%, 85%);
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 3; /* Number of lines to show */
  -webkit-box-orient: vertical;
}

.card-staff_lite hr {
  width: 100%;
  border: none;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

.card-staff_lite ins {
  text-decoration: none;
}

.card-staff_lite .card-content {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 1rem;
  overflow: hidden; /* Ensure content doesn't overflow */
  text-overflow: ellipsis;
}

.card-staff_lite img {
  border-radius: 0.5rem;
  max-width: 100%;
  height: 200px;
  -o-object-fit: cover;
     object-fit: cover;
}

.card-staff_lite .description {
  margin: 0.5rem 0;
  color: rgba(240, 240, 240, 0.7);
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2; /* Number of lines to show */
  -webkit-box-orient: vertical;
}

.card-staff_lite .creator {
  display: flex;
  align-items: center;
  margin-top: 0.2rem;
  margin-bottom: -0.3rem;
}

.card-staff_lite .creator .wrapper {
  display: flex;
  align-items: center;
  border: 1px solid #ffffff22;
  padding: 0.3rem;
  margin: 0;
  margin-right: 0.5rem;
  border-radius: 100%;
  box-shadow: inset 0 0 0 4px #000000aa;
}

.card-staff_lite .creator .wrapper img {
  border-radius: 100%;
  width: 100%;
  height: 40%;
  -o-object-fit: cover;
     object-fit: cover;
  margin: 0;
}

.card-staff_lite:hover {
  border: 1px solid #ffffff44;
}

.card-info {
  display: flex;
  height: 100%;

  border: 1px solid rgba(255, 255, 255, 0.1);
  background-color: rgba(255, 255, 255, 0.05);

  box-shadow: 0 4px 4px 2px rgba(0, 0, 0, 0.33);
  border-radius: 5px;
  overflow: hidden;
  transition: 0.5s all;
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
}

.card-info .card-content {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 1rem;
  overflow: hidden; /* Ensures content doesn't overflow */
  text-overflow: ellipsis;
}

.card-info img {
  border-radius: 0.5rem;
  max-width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.card-info h2 {
  color: var(--light-grey);
  padding-top: 0.4rem;
  font-family: "Exo", sans-serif;
  font-size: 1.3em;
  font-weight: bolder;
}

.card-info p {
  font-family: "Titillium Web", sans-serif;
  color: var(--light-grey);
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 5; /* Number of lines to show */
  -webkit-box-orient: vertical;
}

.card-info hr {
  width: 100%;
  border: none;
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

.custom-shape-divider-top-1722567921 {
  position: absolute;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  z-index: 2;
  margin: 0;
  padding-top: 0rem;
}

.custom-shape-divider-top-1722567921 svg {
  position: relative;
  display: block;
  width: calc(100% + 1.3px);
  height: 60px;
}

.custom-shape-divider-top-1722567921 .shape-fill {
  fill: #202020;
}

.custom-shape-divider-bottom-1722578256 {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  transform: rotate(180deg);
  z-index: 2;
}

.custom-shape-divider-bottom-1722578256 svg {
  position: relative;
  display: block;
  width: calc(100% + 1.3px);
  height: 60px;
}

.custom-shape-divider-bottom-1722578256 .shape-fill {
  fill: #ffffff;
}

.hover\:bg-accent-color-a:hover {
  --tw-bg-opacity: 1;
  background-color: rgb(255 148 109 / var(--tw-bg-opacity));
}

.hover\:bg-accent-color-b:hover {
  --tw-bg-opacity: 1;
  background-color: rgb(52 212 212 / var(--tw-bg-opacity));
}

.hover\:bg-accent-color-c:hover {
  --tw-bg-opacity: 1;
  background-color: rgb(219 190 255 / var(--tw-bg-opacity));
}

.hover\:bg-white:hover {
  --tw-bg-opacity: 1;
  background-color: rgb(255 255 255 / var(--tw-bg-opacity));
}

.hover\:text-dark-grey:hover {
  --tw-text-opacity: 1;
  color: rgb(36 36 36 / var(--tw-text-opacity));
}

@media (min-width: 768px) {

  .md\:bottom-\[25\%\] {
    bottom: 25%;
  }

  .md\:left-\[15\%\] {
    left: 15%;
  }

  .md\:right-\[15\%\] {
    right: 15%;
  }

  .md\:top-\[25\%\] {
    top: 25%;
  }

  .md\:ml-16 {
    margin-left: 4rem;
  }

  .md\:mr-16 {
    margin-right: 4rem;
  }

  .md\:flex {
    display: flex;
  }

  .md\:hidden {
    display: none;
  }

  .md\:pl-\[15\%\] {
    padding-left: 15%;
  }

  .md\:pr-\[15\%\] {
    padding-right: 15%;
  }
}

